
ion-content {
    --background: #eee;

    ion-row {
        background: #f4f5f8;
        margin: 10px;
        border-radius: 6px;
        border: #3880ff solid 2px;
        ion-col {
            background: #e09d0d;
            h1 {
                text-align: center;
                color: rgb(243, 11, 11);
            }
            p {
                text-align: center;
            }
        }
    }
}
